.intro{
    display: flex;
    height: 100vh;
}
.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-left-wrapper{
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hello{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 60px ;
}
.i-title{
    height: 60px;
    overflow: hidden;
}
.i-title-wrapper{
    height: 20%;
    animation: move 12s ease-in-out infinite alternate;
}
@keyframes move {
    33.33%{
        transform: translatey(-150px);
    }
    
}
.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: green;
    display: flex;
    align-items: center;
}

.i-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 5%;
}
@media(max-width: 500px){
    .intro{
        display: flex;
        height: 100vh;
        width: 600px;
    }
    .i-left{
        flex: 1;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 150px;
    }
    .i-right{
        display: none;
        flex: 1;
        position: relative;
    }
    .i-left-wrapper{
        margin-right: 70px;
        height: 60%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hello{
        font-size: 30px;
        font-weight: 400;
        text-decoration: underline;
    }
    .i-name{
        font-size: 60px;
        color: red;
    }
    .i-title{
        height: 60px;
        overflow: hidden;
    }
    .i-title-wrapper{
        height: 50%;
        animation: move 12s ease-in-out infinite alternate;
    }
    @keyframes move {
        33.33%{
            transform: translatey(-150px);
        }
        
    }
    .i-title-item{
        height: 60px;
        font-size: 25px;
        font-weight: bold;
        color: blue;
        display: flex;
        align-items: center;
    }
    
    .i-img{
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    
}