
.skills{
    height: 40vh;
    display: flex;
    justify-content: center;
}
.backgroundimg{
    width: fit-content;
    height: fit-content;
}
.skill-container{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.cardone{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
    width: 250px;
    margin: 0px 20px;
}
.img-one{
    width: 250px;
    height: 250px;
}
.skill-textone{
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    margin-top: 5px;
}
.cardtwo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
    width: 250px;
    margin: 0px 20px;
}
.img-two{
    width: 250px;
    height: 250px;
}
.skill-texttwo{
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    margin-top: 5px;
}
.cardthree{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-style: solid;
    margin: 0px 20px;
}
.img-three{
    width: 250px;
    height: 250px;
}
.skill-textthree{
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    margin-top: 5px;
}
.cardfour{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-style: solid;
    margin: 0px 20px;
}
.img-four{
    width: 250px;
    height: 250px;
}
.skill-textfour{
    font-size: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    margin-top: 5px;
}
@media(max-width:900px){
    .skills{
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .skill-container{
        display: flex;
        height: 100px;
        animation: skillmove 5s ease-in-out infinite alternate;
    }
    @keyframes skillmove {
        33.33%{
            transform: translateX(-50px);
        }
        
    }

    .cardone{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 150px;
        height: 150px;
        margin: 0px 20px;
    }
    .img-one{
        width: 150px;
        height: 150px;
    }
    .skill-textone{
        font-size: 25px;
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
    }
    .cardtwo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 150px;
        height: 150px;
        margin: 0px 20px;
    }
    .img-two{
        width: 150px;
        height: 150px;
    }
    .skill-texttwo{
        font-size: 25px;
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
    }
    .cardthree{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 150px;
        height: 150px;;
        border-style: solid;
        margin: 0px 20px;
    }
    .img-three{
        width: 150px;
        height: 150px;
    }
    .skill-textthree{
        font-size: 25px;
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
    }
    .cardfour{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-style: solid;
        margin: 2
        0px 20px;
    }
    .img-four{
        width: 150px;
        height: 150px;
    }
    .skill-textfour{
        font-size: 25px;
        display: flex;
        align-content: center;
        justify-content: center;
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
    }
}
@media(max-width:360px){
    .skills{
        height: 20vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .skill-container{
        display: flex;
        height: 100px;
        align-content: center;
        justify-content: center;
        margin-left: 100px;
        animation: skillmove3 10s ease-in-out infinite alternate;
    }
    @keyframes skillmove3 {
        33.33%{
            transform: translateX(-100px);
        }
        
    }

    .cardone{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70px;
        height: 70px;
        margin: 0px 20px;
    }
    .img-one{
        width: 100px;
        height: 100px;
    }
    .skill-textone{
        font-size: 25px;
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
    }
    .cardtwo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70px;
        height: 70px;
        margin: 0px 10px;
    }
    .img-two{
        margin-left: 20px;
        width: 100px;
        height: 100px;
    }
    .skill-texttwo{
        font-size: 25px;
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
    }
    .cardthree{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-style: solid;
        margin: 0px 20px;
    }
    .img-three{
        width: 100px;
        height: 100px;
    }
    .skill-textthree{
        font-size: 25px;
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
    }
    .cardfour{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-style: solid;
        margin: 2
        0px 20px;
    }
    .img-four{
        margin-left: 20px;
        width: 100px;
        height: 100px;
    }
    .skill-textfour{
        font-size: 25px;
        display: flex;
        align-content: center;
        justify-content: center;
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
    }
}
